.profile-card-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-inline: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  margin-block: 64px;
  position: relative;
}
.profile-card {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 16px;
}
.details-bot {
  display: flex;
  flex-direction: column;
}
.leftContent {
  display: grid;
  place-items: center;
}
.gridData {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  row-gap: 0.5rem;
}
h5,
h4 {
  color: #13aaff;
}
h1 {
  font-size: 3rem;
}
h4 {
  font-size: 14px;
}
.profileImg {
  width: 200px;
  height: 200px;
  border: 7px solid white;
  border-radius: 25%;
  margin-top: -6rem;
}
.teamAndLogo {
  translate: -16px 0;
  display: flex;
  justify-content: flex-start;
}
.teamAndLogo img {
  height: 100px;
}
.details {
  width: 100%;
  max-width: 200px;
  text-align: start;
}
.rightContent {
  display: block;
}
@media only screen and (max-width: 1080px) {
  .profile-card {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .details-bot {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .teamAndLogo {
    margin-right: auto;
  }
}
